body {
    padding: 0px;
    margin: 0px;
    height: 100lvh;
    width: 100lvw;
    overflow-x: hidden;
    font-family: 'lemon';
    background-color: var(--Light-Primary-Color);
    color: var(--Light-Text-or-Content-Color);
    transition: background-color 0.5s, color 0.5s;
}

@media (max-width: 400px) {
  body{
    height: 100svh;
    width: 100svw;
  }
}

body::-webkit-scrollbar {
    width: 0;
}

a:-webkit-any-link {
    text-decoration: none;
}


/* LIGHT MODE */
h1 {
    color: var(--Common-Text-Color);
}

a {
    color: var(--Light-Link-Color);
    background-color: var(--Light-Primary-Color);
}

button {
    background-color: var(--Light-Primary-Color);
}


/* DARK MODE */
.dark-mode {
    background-color: var(--Dark-Primary-Color);
    color: var(--Dark-Text-or-Content-Color);
}

.dark-mode h1 {
    color: var(--Dark-Button-or-Highlight-Color);
}

.dark-mode a {
    color: var(--Dark-Link-Color);
    background-color: var(--Dark-Primary-Color);
}

:root {
    /* LIGHTMODE */
    --Light-Primary-Color: #ffffff;
    --Light-Text-or-Content-Color: #000000;
    --Light-Button-or-Highlight-Color: #FFA500;
    --Common-Text-Color: #5E96FF;
    --Light-Link-Color: #FF4500;

    /* DARKMODE */
    --Dark-Primary-Color: #000000;
    --Dark-Text-or-Content-Color: #ffffff;
    --Dark-Button-or-Highlight-Color: #FFA500;
    --Dark-Link-Color: #FFD700;
}

#Light-Dark {
    display: flex;
    position: fixed;
    z-index: 5;
    appearance: none;
    border: none;
    background-color: transparent;
    top: 1.5%;
    left: 95.5%;
    cursor: pointer;

}

.light-image, .dark-image {
    width: 60px;
}

.dark-image {
    display: none;
}

.switch {
    display: flex;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.415);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 12px;
    transition: left 0.3s ease;
}

.switch.switched {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.415);
    left: 44px;
}


.dark-mode .light-image {
    display: none;
}

.dark-mode .dark-image {
    display: inline;
}

@media (max-width: 400px) {
    #Light-Dark {
        left: 82%;
    }
}

/* PRELOADER */

#preloader {
    top: 0px;
    background: black url(../StyleFile/IMG/preloader.gif) no-repeat center 25%;
    background-size: 50%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
}

@media (max-width: 400px) {
    #preloader {
        background: black url(../StyleFile/IMG/Books-HubPreLoad.gif) no-repeat center center;
        background-size: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* HOME BACKGROUND */
#homeback {
    display: block;
    position: fixed;
    top: -280px;
    width: 100%;
    z-index: -1;
    filter: drop-shadow(2px 4px 6px black);
}

.dark-mode #homeback{
  filter: drop-shadow(2px 4px 6px white);
}

/* BOOKS BACKGROUND */
#Booksback {
    display: flex;
    position: fixed;
    top: -222px;
    width: 100%;
    z-index: -1;
    filter: drop-shadow(2px 4px 6px black);
}

.dark-mode #Booksback{
  filter: drop-shadow(2px 4px 6px white);
}

/* CONTACT BACKGROUND */

#contactback {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
    filter: drop-shadow(2px 4px 6px black);
}

.dark-mode #contactback{
  filter: drop-shadow(2px 4px 6px white);
}

/* ABOUT BACKGROUND */

#Aboutback {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 135%;
  z-index: -1;
  filter: drop-shadow(2px 4px 6px black);
}

.dark-mode #Aboutback{
  filter: drop-shadow(2px 4px 6px white);
}

/* CLUB BACKGROUND */

#Clubback {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: -1;
  filter: drop-shadow(2px 4px 6px black);
}

.dark-mode #Clubback{
  filter: drop-shadow(2px 4px 6px white);
}

@media (max-width: 400px) {
    #homeback {
        top: 0px;
        width: 720px;
    }

    #Booksback {
        top: 0px;
        width: 720px;
    }

    #contactback{
        top: 0px;
        left: -80px;
        height: 585px;
        width: 579px;
    }

    #Aboutback {
      top: -145px;
      width: 720px;
  }
}

/* Scroll indicator styles */
.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    z-index: 2;
    border-radius: 20px;
    background: linear-gradient(to right, #008aff, #00ffe7);
    animation: coloranimate 5s linear infinite;
    z-index: 5;
}

@keyframes coloranimate {
    0%, 100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

.scroll-indicator::before {
    content: '';
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0088ff, #00ffe5);
    filter: blur(10px);
}

.scroll-indicator::after {
    content: '';
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0088ff, #00ffe5);
    filter: blur(30px);
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background: rgba(232, 131, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(128, 0, 255, 0.37);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    z-index: 2;
}

#mainsitelogo {
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(272deg, #8F00FF 0.72%, #00FFC2 101.6%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    display: flex;
    position: relative;
    z-index: 2;
}

.logo a {
    background-color: transparent !important;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border-style: none;
}

.menu-toggle img {
    position: relative;
    height: 90px;
    width: 80px;
    left: 25px;
}

.nav-links {
    display: flex;
    position: absolute;
    list-style: none;
    text-transform: capitalize;
    font-size: 20px;
    gap: 45px;
    left: 49%;
    transform: translate(-53%, 0%);
}

.nav-links a {
    position: relative;
    text-decoration: none;
    -webkit-text-stroke: 1px rgb(31 0 63);
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5px;
    padding: 0 10px;
    background-color: transparent !important;
    color: var(--Common-Text-Color);
}

/* DARK MODE */
.dark-mode .nav-links a {
    color: var(--Dark-Button-or-Highlight-Color);
}

.E-BookSub {
    display: flex;
    position: absolute;
    font-style: italic;
    width: 115px;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 10px;
    left: 86%;
    z-index: 2;
}

#Submit-EB {
    display: none;
}

@media (max-width:400px) {
    .menu-toggle {
        display: flex;
        position: fixed;
        right: 195px;
        margin: 0;
        padding: 0;
        border-width: 0px;
        padding-inline: 0px;
        padding-block: 0px;
        height: 0px;
        width: 0px;
    }

    .menu-toggle img {
        position: relative;
        height: 90px;
        width: 80px;
        top: -40px;
        left: 30px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        top: 57px;
        left: 335px;
        height: max-content;
        width: 30%;
        padding: 0;
        margin: 0;
        gap: 10px;
        background: rgba(232, 131, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(128, 0, 255, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border-left: 2px solid rgba(255, 255, 255, 0.18);
        border-bottom: 2px solid rgba(255, 255, 255, 0.18);
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        text-align: center;
        padding: 0px;
        background-color: transparent;
        color: var(--Common-Text-Color);
        text-decoration: none;
        font-size: 20px;
        -webkit-text-stroke: 0.5px rgb(31 0 63);
    }

    .nav-links.show {
        display: flex;
    }

    .E-BookSub {
        display: none;
    }

    .E-BookSub.show {
        display: block;
    }

    #mainsitelogo {
        position: absolute;
        top: -50px;
        left: -10px;
    }

    #Submit-EB {
        display: block;
    }
}

/* HOME PAGE START HERE 👇 */

/* SITE SMALL INTRO */
.introbox {
    display: grid;
    position: absolute;
    top: 110px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 200px;
    width: 100%;
    z-index: 1;
}

.introbox a {
    background-color: transparent !important;
}

.introbox1 {
    width: 300px;
    height: 120px;
    border-radius: 10px;
    margin: auto;
    border: 3px solid black;
    cursor: pointer;
    background-color: #005dff1f;
    box-shadow: 0px 5px 5px, 0px 0px 5px;
}

.introboxlink {
    margin: auto;
}

.introbox1 img {
    display: flex;
    position: absolute;
    top: 50px;
    left: 8.9%;
}

.introbox1 h1 {
    position: absolute;
    text-align: center;
    width: 200px;
    left: 14%;
    top: 35px;
    font-size: 1.4rem;
    cursor: pointer;
    -webkit-text-stroke: 0.5px black;
}

.introbox1 p {
    position: absolute;
    text-align: left;
    width: 200px;
    top: 100px;
    left: 14.2%;
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--Light-Text-or-Content-Color);
}

.dark-mode .introbox1 p {
    color: var(--Dark-Text-or-Content-Color);
}

.introbox2 {
    width: 300px;
    height: 120px;
    border-radius: 10px;
    margin: auto;
    border: 3px solid black;
    cursor: pointer;
    background-color: #005dff1f;
    box-shadow: 0px 5px 5px, 0px 0px 5px;
}

.introbox2 img {
    display: flex;
    position: absolute;
    top: 50px;
    left: 820px;
    cursor: pointer;
}

.introbox2 h1 {
    display: block;
    position: absolute;
    width: 210px;
    top: 30px;
    left: 925px;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
    -webkit-text-stroke: 0.5px black;
}

.introbox2 p {
    display: block;
    position: absolute;
    width: 180px;
    top: 95px;
    text-align: left;
    left: 935px;
    font-size: 0.8rem;
    cursor: pointer;
}

.introbox3 {
    width: 300px;
    height: 120px;
    border-radius: 10px;
    margin: auto;
    border: 3px solid black;
    cursor: pointer;
    background-color: #005dff1f;
    box-shadow: 0px 5px 5px, 0px 0px 5px;
}

.introbox3 img {
    display: flex;
    position: absolute;
    top: 52px;
    left: 1450px;
}

.introbox3 h1 {
    display: block;
    position: absolute;
    width: 200px;
    text-align: center;
    left: 1540px;
    font-size: 1.2rem;
    top: 35px;
    cursor: pointer;
    -webkit-text-stroke: 0.5px black;
}

.introbox3 p {
    display: block;
    position: absolute;
    text-align: left;
    width: 190px;
    top: 90px;
    left: 1560px;
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--Light-Text-or-Content-Color);
}

.dark-mode .introbox3 p {
    color: var(--Dark-Text-or-Content-Color);
}

@media (max-width: 400px) {
    .introbox {
        display: grid;
        position: absolute;
        top: 100px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        height: max-content;
        gap: 30px;
        width: 100%;
        z-index: 1;
    }

    .introbox1 img {
        top: 10px;
        left: 50px;
    }

    .introbox1 h1 {
        top: -10px;
        left: 140px;
    }

    .introbox1 p {
        top: 55px;
        left: 155px;
    }

    .introbox2 img {
        height: 20%;
        width: 20%;
        top: 170px;
        left: 55px;
    }

    .introbox2 h1 {
        top: 143px;
        left: 140px;
    }

    .introbox2 p {
        width: 200px;
        top: 205px;
        left: 145px;
    }

    .introbox3 img {
        top: 325px;
        left: 50px;
    }

    .introbox3 h1 {
        font-size: 0.9rem;
        top: 310px;
        left: 145px;
    }

    .introbox3 p {
        width: 180px;
        top: 350px;
        left: 170px;
    }
}

#FBText {
    display: flex;
    position: absolute;
    cursor: default;
    padding: 0px;
    width: max-content;
    left: 50%;
    transform: translate(-50%, 150%);
    -webkit-text-stroke: 1px rgb(33 7 69);
    color: var(--Common-Text-Color);
    font-size: 120px;
    font-weight: 900;
    font-style: italic;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.dark-mode #FBText {
    color: var(--Dark-Button-or-Highlight-Color);
}

@media (max-width: 400px) {
    #FBText {
        font-size: 35px;
        top: 65%;
    }
}


.book-grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    top: 615px;
    left: 25px;
    height: 350px;
}

.book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1300px;
    height: 260px;
    width: 200px;
    background-color: transparent !important;
}

.book {
    width: 250px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-35deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
}

.book img {
    object-fit: cover;
}

.book-container:hover .book,
.book-container:focus .book {
    transform: rotateY(-35deg);
}

.book> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 250px;
    height: 300px;
    transform: translateZ(15px);
    background-color: #01060f;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 20px #666;
    border-left: 10px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.book::before {
    position: absolute;
    content: ' ';
    background-color: blue;
    left: 0;
    top: 0px;
    width: 28px;
    height: 300px;
    transform: translateX(235px) rotateY(90deg);
    background: linear-gradient(90deg,
            #fff 0%,
            #f9f9f9 5%,
            #fff 10%,
            #f9f9f9 15%,
            #fff 20%,
            #f9f9f9 25%,
            #fff 30%,
            #f9f9f9 35%,
            #fff 40%,
            #f9f9f9 45%,
            #fff 50%,
            #f9f9f9 55%,
            #fff 60%,
            #f9f9f9 65%,
            #fff 70%,
            #f9f9f9 75%,
            #fff 80%,
            #f9f9f9 85%,
            #fff 90%,
            #f9f9f9 95%,
            #fff 100%);
}

.book::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: 250px;
    height: 300px;
    transform: translateZ(-15px);
    background-color: #01060f;
    border-radius: 0 5px 5px 0;
    box-shadow: -10px 0 50px 10px #666;
}

@media (max-width: 400px) {
    .book-grid {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        top: 730px;
        left: 25px;
        row-gap: 120px;
        column-gap: 20px;
        height: 700px;
    }

    .book-container {
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 1300px;
        height: 0px;
        width: 0px;
        background-color: unset !important;
    }

    .book {
        width: 150px;
        height: 175px;
        position: relative;
        transform-style: preserve-3d;
        transform: rotateY(-35deg);
        transition: 1s ease;
        animation: 1s ease 0s 1 initAnimation;
    }

    .book-container:hover .book,
    .book-container:focus .book {
        transform: rotateY(-35deg);
    }

    .book> :first-child {
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
        width: 150px;
        height: 175px;
        transform: translateZ(15px);
        background-color: #01060f;
        border-radius: 0 5px 5px 0;
        box-shadow: 5px 5px 20px #666;
    }

    .book::before {
        position: absolute;
        content: ' ';
        background-color: blue;
        left: 0;
        top: 1px;
        width: 28px;
        height: 173px;
        transform: translateX(134px) rotateY(90deg);
        background: linear-gradient(90deg,
                #fff 0%,
                #f9f9f9 5%,
                #fff 10%,
                #f9f9f9 15%,
                #fff 20%,
                #f9f9f9 25%,
                #fff 30%,
                #f9f9f9 35%,
                #fff 40%,
                #f9f9f9 45%,
                #fff 50%,
                #f9f9f9 55%,
                #fff 60%,
                #f9f9f9 65%,
                #fff 70%,
                #f9f9f9 75%,
                #fff 80%,
                #f9f9f9 85%,
                #fff 90%,
                #f9f9f9 95%,
                #fff 100%);
    }

    .book::after {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        width: 150px;
        height: 175px;
        transform: translateZ(-15px);
        background-color: #01060f;
        border-radius: 0 5px 5px 0;
        box-shadow: -10px 0 50px 10px #666;
    }
}

/* HOME PAGE END HERE 👆 */


/* BOOKS PAGE START HERE 👇 */

.search-container {
    position: fixed;
    top: 60px;
    z-index: 2;
    left: 84.8%;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    border-radius: 15px;
    background-color: #005dff1f;
    color: var(--Common-Text-Color);
}

.Suggestion-Div {
    display: flex;
    position: relative;
    width: 80%;
    margin-top: 10px;
}

.Suggestion-Links {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: black;
    left: 60px;
    border-radius: 15px;
    top: -5px;
}

.dark-mode #searchInput {
    color: var(--Dark-Button-or-Highlight-Color);
}

@media (max-width: 400px) {
    .search-container {
        position: fixed;
        top: 65px;
        z-index: 2;
        left: 0px;
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #searchInput {
        padding: 8px;
        font-size: 16px;
        width: 100%;
        border-radius: 15px;
        background-color: #005dff1f;
        color: var(--Common-Text-Color);
    }

    .Suggestion-Div {
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 10px;
    }

    .Suggestion-Links {
        display: flex;
        position: relative;
        width: 60%;
        align-items: center;
        justify-content: center;
        background: black;
        left: 80px !important;
        border-radius: 15px;
        top: -5px;
    }
}

#introgrid {
    display: grid;
    position: absolute;
    top: 110px;
    grid-template-columns: repeat(2, 1fr);
    height: 200px;
    width: 100%;
    z-index: 1;
}

.card {
    position: relative;
    width: 300px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    cursor: pointer;
    background-color: #005dff1f;
    box-shadow: 0px 5px 5px, 0px 0px 5px;
}

.svgbox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.svgbox img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    left: 5px;
    position: absolute;
    animation: fadeAnimation 6s linear infinite;
}

.svgbox p {
    position: absolute;
    left: 45%;
    width: 165px;
}

.svgbox img:nth-child(2) {
    animation-delay: 2.5s;
}

@keyframes fadeAnimation {
    0%, 100% {
        opacity: 0;
        transform: translateY(50%);
    }

    25% {
        opacity: 1;
        transform: translateY(0);
    }

    50%, 75% {
        opacity: 0;
        transform: translateY(-50%);
    }
}

.card2 {
    position: relative;
    width: 300px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    background-color: #005dff1f;
    box-shadow: 0px 5px 5px, 0px 0px 5px;
}

.card2 img {
    position: absolute;
    left: 5px;
}

.card2 p {
    position: absolute;
    top: -5px;
    left: 45%;
    width: 150px;
    font-size: 0.98rem;
    color: var(--Light-Text-or-Content-Color);
}

.dark-mode .card2 p {
    color: var(--Dark-Text-or-Content-Color);
}

@media (max-width: 400px) {
    #introgrid {
        display: grid;
        position: absolute;
        top: 120px;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .svgbox p {
        position: absolute;
        left: 45%;
        width: 165px;
        font-size: 0.9rem;
    }

    .card2 p {
        position: absolute;
        left: -10px;
        left: 45%;
        width: 150px;
        font-size: 0.9rem;
    }
}

#BookHead {
  display: flex;
  position: absolute;
  cursor: default;
  margin: 0px;
  padding: 0px;
  top: 35%;
  width: 100%;
  -webkit-text-stroke: 1px #281048;
  color: var(--Common-Text-Color);
  font-size: 12rem;
  font-weight: 900;
  font-style: italic;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.dark-mode #BookHead {
    color: var(--Dark-Button-or-Highlight-Color);
}

@media (max-width: 400px) {
    #BookHead {
        top: 65%;
        font-size: 3rem;
    }
}

#maincategory {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(4, 1fr);
  height: 0px;
  width: 0px;
  top: 70%;
  left: 60px;
  row-gap: 150px;
  column-gap: 235px;
}

@media (max-width: 400px) {
    #maincategory {
        grid-template-columns: repeat(1, 1fr);
        top: 90%;
    }

    .KidStory {
        width: 280% !important;
        top: -155px !important;
        left: -50px !important;
    }

    .Fanta {
        left: -70px !important;
    }
}

#maincategory h1 {
    display: block;
    position: relative;
    top: -150px;
    rotate: -3deg;
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1300px;
    height: 350px;
    width: 275px;
    background-color: transparent !important;
}

#maincategory:hover .category-container {
    opacity: 0.4;
    filter: blur(2px);
}

#maincategory .category-container:hover {
    opacity: 1;
    filter: blur(0px);
}

.category {
    width: 275px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
}

.category-container:hover .category,
.category-container:focus .category {
    transform: rotateY(-20deg);
}

.category> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 275px;
    height: 350px;
    transform: translateZ(30px);
    background-color: #01060f;
    box-shadow: 5px 5px 20px #666;
    border-radius: 0 5px 5px 0;
    border-left: aliceblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.category::before {
    position: absolute;
    content: ' ';
    background-color: blue;
    left: 0;
    top: 2px;
    width: 58px;
    height: 346px;
    transform: translateX(243px) rotateY(90deg);
    background: linear-gradient(90deg,
            #fff 0%,
            #f9f9f9 5%,
            #fff 10%,
            #f9f9f9 15%,
            #fff 20%,
            #f9f9f9 25%,
            #fff 30%,
            #f9f9f9 35%,
            #fff 40%,
            #f9f9f9 45%,
            #fff 50%,
            #f9f9f9 55%,
            #fff 60%,
            #f9f9f9 65%,
            #fff 70%,
            #f9f9f9 75%,
            #fff 80%,
            #f9f9f9 85%,
            #fff 90%,
            #f9f9f9 95%,
            #fff 100%);
}

.category::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: 275px;
    height: 350px;
    transform: translateZ(-30px);
    background-color: #01060f;
    border-radius: 0 5px 5px 0;
    box-shadow: -10px 0 50px 10px #666;
}

.category-summary {
    position: absolute;
    top: 50px;
    left: 2px;
    width: 250px;
    height: 295px;
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--Dark-Link-Color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: italic;
    font-weight: 600;
    overflow-x: hidden;
}

.category-summary::-webkit-scrollbar {
    width: 0;
}

.category-container:hover .category-summary {
    opacity: 1;
    visibility: visible;
}

.category-summary p {
    position: relative;
    font-size: 18px;
}

.commentSection {
  position: absolute;
  width: 50%;
  top: 220%;
  left: -90px;
}

@media (max-width: 400px) {
    .commentSection {
     width: 100%;
     top: 925%;
    }
}

.usercontri {
  display: block;
  position: absolute;
  top: 260%;
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #005dff1f;
  box-shadow: 5px 5px 10px, -5px -5px 10px;
}

.usercontri h1 {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
}

@media (max-width: 400px) {
    .usercontri{
     top: 985%;
    }

    .usercontri h1{
     text-align: center;
    }
}

/* BOOKS PAGE END HERE 👆 */


/* CONTACT PAGE START HERE 👇 */

.contactglass{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    height: 500px;
    width: 400px;
    transform: translate(-50%, -50%);
    background: rgb(0 0 0 / 20%);
    box-shadow: 0 8px 32px 0 rgb(255 255 255 / 37%);
    backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
}

.contact{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -210%);
    font-size: 3rem;
    width: max-content;
}

#ContactForm{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 80px;
    width: 400px;
    height: 435px;
    background-color: #ffffff10;
    overflow: hidden;
    border-radius: 10px;
}

#fname::placeholder,
#lname::placeholder,
#email::placeholder,
#message::placeholder {
    color: var(--Dark-Button-or-Highlight-Color);
  text-transform: uppercase;
}

#fname{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 80%;
    height: 20px;
    border-radius: 15px;
    padding-left: 10px;
    border: 5px solid rgb(255, 0, 183);
    font-family: 'lemon';
    background-color: #00e5ff1f;
    box-shadow: 0px 0px 10px, 0px 0px 10px;
    color: var(--Dark-Button-or-Highlight-Color);
    text-transform: capitalize;
}

#lname{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 80%;
    height: 20px;
    border-radius: 15px;
    padding-left: 10px;
    border: 5px solid rgb(255, 0, 183);
    font-family: 'lemon';
    background-color: #00e5ff1f;
    box-shadow: 0px 0px 10px, 0px 0px 10px;
    color: var(--Dark-Button-or-Highlight-Color);
    text-transform: capitalize;
}

#email{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 80%;
    height: 20px;
    border-radius: 15px;
    padding-left: 10px;
    border: 5px solid rgb(255, 0, 183);
    font-family: 'lemon';
    background-color: #00e5ff1f;
    box-shadow: 0px 0px 10px, 0px 0px 10px;
    color: var(--Dark-Button-or-Highlight-Color);
    text-transform: lowercase;
}

#message{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 80% !important;
    height: 100px !important;
    border-radius: 15px;
    padding-left: 10px;
    border: 5px solid rgb(255, 0, 183);
    resize: none;
    font-family: 'lemon';
    background-color: #00e5ff1f;
    box-shadow: 0px 0px 10px, 0px 0px 10px;
    color: var(--Dark-Button-or-Highlight-Color);
    text-transform: capitalize;
}

#CountrySelect{
    position: relative;
    color: var(--Dark-Button-or-Highlight-Color);
    font-family: 'lemon';
    background-color: #00e5ff1f;
    box-shadow: 0px 0px 10px, 0px 0px 10px;
    text-align: center;
    width: 40%;
    border-radius: 15px;
    left: 35px;
    text-transform: capitalize;
}

#CountrySelect::-webkit-scrollbar {
    width: 0;
}

.Contact-Button{
    position: relative;
    color: var(--Dark-Button-or-Highlight-Color);
    font-family: 'lemon';
    background-color: #00e5ff1f;
    box-shadow: 0px 0px 10px, 0px 0px 10px;
    text-align: center;
    width: 30%;
    border-radius: 15px;
    left: 216px;
    top: -18px;
    text-transform: capitalize;
}

@media (max-width: 400px) {
  .contactglass {
    display: block;
    position: absolute;
    top: 380px;
    left: 50%;
    padding: 20px;
    height: 620px;
    width: 400px;
    transform: translate(-50%, -50%);
    background: rgb(0 0 0 / 20%);
    box-shadow: 0 8px 32px 0 rgb(255 255 255 / 37%);
    backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 }

 #ContactForm {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 100px;
  width: 400px;
  height: 435px;
  background-color: #ffffff10;
  border-radius: 10px;
  overflow: hidden;
 }
}

/* CONTACT PAGE END HERE 👆 */


/* ABOUT PAGE START HERE 👇 */

#aboutus {
    display: flex;
    position: absolute;
    font-family: 'lemon';
  }
  
  .aboutext {
    display: flex;
    position: absolute;
    font-size: 8rem;
    font-weight: 900;
    color: var(--Common-Text-Color);
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    top: 50px;
    left: 670px;
    padding: 0px;
    margin: 0px;
    width: max-content;
    user-select: none;
  }

  .dark-mode .aboutext{
   color: var(--Dark-Button-or-Highlight-Color);
  }
  
  @media (max-width:400px) {
    .aboutext {
      display: flex;
      position: absolute;
      font-size: 3rem;
      top: 70px;
      left: 70px;
      font-weight: 900;
      -webkit-text-stroke: 3px rgb(33 7 69);
      padding: 0px;
      margin: 0px;
      width: max-content;
    }
  }
  
  .aboutusp1 {
    display: flex;
    position: absolute;
    font-style: italic;
    font-weight: 900;
    height: 100vh;
    width: 100vw;
  }
  
  .insideabotext1 {
    display: flex;
    position: relative;
    font-size: 30px;
    top: 130px;
    left: 118px;
    color: var(--Light-Text-or-Content-Color);
    padding: 50px;
    margin: 0px;
    width: 80%;
  }

  .dark-mode .insideabotext1{
   color: var(--Dark-Text-or-Content-Color);
  }
  
  @media (max-width:400px) {
    .insideabotext1 {
      display: flex;
      position: relative;
      font-size: 20px;
      top: 110px;
      left: 5px;
      padding: 20px;
      margin: 0px;
      width: 350px;
    }
  }
  
  .backmission {
    display: flex;
    position: absolute;
    top: 960px;
    font-weight: 900;
    font-size: 100px;
    left: 222px;
    padding: 0px;
    margin: 0px;
    color: var(--Common-Text-Color);
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    width: max-content;
  }

  .dark-mode .backmission{
   color: var(--Dark-Button-or-Highlight-Color);
  }
  
  @media (max-width:400px) {
    .backmission {
      display: flex;
      position: absolute;
      top: 1350px;
      font-weight: 900;
      font-size: 40px;
      left: 35px;
      padding: 20px;
      margin: 0px;
      -webkit-text-stroke: 1px white;
      width: 290px;
      text-align: center;
    }
  }
  
  .aboutusp2 {
    display: flex;
    position: absolute;
    font-style: italic;
    font-weight: 900;
    top: 1900px;
    left: 50px;
    height: 100vh;
    width: 100vw;
  }
  
  .insideabotext2 {
    display: flex;
    position: relative;
    font-weight: 900;
    font-size: 31px;
    top: -815px;
    color: var(--Light-Text-or-Content-Color);
    margin: 0px;
    width: 80%;
    padding: 80px;
    left: 50px;
  }

  .dark-mode .insideabotext2{
   color: var(--Dark-Text-or-Content-Color);
  }
  
  @media (max-width:400px) {
    .insideabotext2 {
      display: flex;
      position: absolute;
      font-size: 20px;
      top: -430px;
      left: -45px;
      padding: 20px;
      margin: 0px;
      width: 350px;
    }
  }
  
  .team-member {
    display: block;
    position: absolute;
    top: 2175px;
    font-size: 90px;
    font-weight: 900;
    color: var(--Common-Text-Color);
    -webkit-text-stroke: 5px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    left: 490px;
    width: max-content;
  }

  .dark-mode .team-member{
   color: var(--Dark-Button-or-Highlight-Color);
  }
  
  .aboutusp3 {
    display: flex;
    position: absolute;
    font-style: italic;
    font-weight: 900;
    height: 165vh;
    top: 2310px;
    width: 100vw;
  }

  @media (max-width: 400px) {
    .aboutusp3{
     height: 100px;
     width: max-content;
    }
  }
  
  .insideabotext3 {
    display: flex;
    position: relative;
    top: 70px;
    height: 30px;
    font-weight: 700;
    font-size: 39px;
    left: 125px;
    width: 85%;
    color: var(--Light-Text-or-Content-Color);
  }

  .dark-mode .insideabotext3{
    color: var(--Dark-Text-or-Content-Color);
   }
  
  @media (max-width:400px) {
    .team-member {
      display: flex;
      position: absolute;
      top: 3280px;
      font-size: 50px;
      font-weight: 900;
      color: #d0a2ff;
      -webkit-text-stroke: 2px rgb(33 7 69);
      filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
      left: 70px;
      width: 0px;
      text-align: center;
    }
    
    .insideabotext3 {
      display: flex;
      position: relative;
      top: 985px;
      height: 30px;
      font-weight: 700;
      font-size: 24px;
      left: 0px;
      padding: 20px;
      width: 360px;
    }
  }

  
  #contributor1 {
    display: flex;
    position: absolute;
    top: 255px;
    left: 255px;
  }
  
  .box1 {
    position: absolute;
    height: 360px;
    width: 1000px;
    top: 32px;
    border: 5px solid red;
    border-radius: 200px;
    background: url(../StyleFile/IMG/Polygon\ Luminary.svg);
    left: 175px;
  }
  
  #typewriter1 {
    display: flex;
    position: absolute;
    top: 0px;
    left: 430px;
    width: 460px;
  }
  
  #typewriter1 h1 {
    position: relative;
    top: 10px;
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    color: var(--Common-Text-Color);
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid var(--Common-Text-Color);
    animation: typewriter 5s steps(100) infinite alternate;
    background-color: #005dff1f;
    box-shadow: 2px 2px 10px, -2px -2px 10px;
  }

  .dark-mode #typewriter1 h1{
   color: var(--Dark-Button-or-Highlight-Color);
   border-right: 5px solid var(--Dark-Button-or-Highlight-Color);
  }
  
  #typewriter2 {
    display: flex;
    position: absolute;
    top: 0px;
    left: 460px;
    width: 275px;
  }
  
  #typewriter2 h1 {
    position: relative;
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    color: var(--Common-Text-Color);
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid var(--Common-Text-Color);
    animation: typewriter 3s steps(100) infinite alternate;
    left: 50px;
    top: 15px;
    background-color: #005dff1f;
    box-shadow: 2px 2px 10px, -2px -2px 10px;
  }

   .dark-mode #typewriter2 h1{
   color: var(--Dark-Button-or-Highlight-Color);
   border-right: 5px solid var(--Dark-Button-or-Highlight-Color);
  }
  
  #typewriter3 {
    display: flex;
    position: relative;
    top: 5px;
    left: -10px;
    height: fit-content;
    width: max-content;
  }
  
  #typewriter3 h1 {
    position: relative;
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    color: var(--Common-Text-Color);
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid var(--Common-Text-Color);
    animation: typewriter 5s steps(100) infinite alternate;
    top: 15px;
    left: 370px;
    background-color: #005dff1f;
    box-shadow: 2px 2px 10px, -2px -2px 10px;
  }

  .dark-mode #typewriter3 h1{
    color: var(--Dark-Button-or-Highlight-Color);
    border-right: 5px solid var(--Dark-Button-or-Highlight-Color);
   }
  
  @media (max-width:400px) {
    #contributor1 {
      display: flex;
      position: absolute;
      top: 1750px;
      left: 20px;
    }
    
    .box1 {
      position: absolute;
      height: 700px;
      width: 350px;
      top: -520px;
      left: 7px;
      border: none;
      border-radius: 200px;
      background-image: none;
      background-color: #00000014;
      box-shadow: 2px 2px 10px, -2px -2px 10px;
    }
    
    #typewriter1 {
      display: flex;
      position: absolute;
      top: 350px;
      left: 55px;
      width: max-content;
    }
    
    #typewriter1 h1 {
      position: relative;
      font-weight: 900;
      font-style: italic;
      font-size: 30px;
      overflow: hidden;
      white-space: nowrap;
      -webkit-text-stroke: 1px rgb(33 7 69);
      filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
      animation: typewriter 5s steps(100) infinite alternate;
      top: -540px;
    }
    
    #typewriter2 {
      display: flex;
      position: absolute;
      top: 360px;
      left: 115px;
      width: max-content;
    }
    
    #typewriter2 h1 {
      position: relative;
      font-weight: 900;
      font-style: italic;
      font-size: 30px;
      -webkit-text-stroke: 1px rgb(33 7 69);
      filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
      overflow: hidden;
      white-space: nowrap;
      animation: typewriter 3s steps(100) infinite alternate;
      top: -625px;
      left: -10px;
    }
    
    #typewriter3 {
      display: flex;
      position: absolute;
      left: 40px;
      width: max-content;
      bottom: 0px;
      top: 0px;
    }
    
    #typewriter3 h1 {
      position: relative;
      font-weight: 900;
      font-style: italic;
      font-size: 30px;
      -webkit-text-stroke: 1px rgb(33 7 69);
      filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
      overflow: hidden;
      white-space: nowrap;
      animation: typewriter 5s steps(100) infinite alternate;
      top: -470px;
      left: -230px;
    }  
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  .contritext1{
    position: absolute;
    top: 90px;
    width: 825px;
    left: 355px;
    font-size: 32px;
    font-weight: 900;
    color: var(--Light-Text-or-Content-Color);
  }

  .dark-mode .contritext1{
   color: var(--Dark-Text-or-Content-Color);
  }
  
  @media (max-width:400px) {
    .contritext1 {
      position: absolute;
      top: -160px;
      width: 320px;
      left: 5px;
      padding: 20px;
      font-size: 20px;
      font-weight: 900;
    } 

    .Aboutcard1 {
      top: -450px !important;
      left: 35px;
    }

  }
  
  .Aboutcard1 {
    height: 220px;
    width: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    cursor: pointer;
    border-radius: 30px;
    top: 100px;
    left: 35px;
  }
  
  .cover-image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper1 {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: #000;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .wrapper1 img {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .Aboutcard1:hover .wrapper1 {
    transform: perspective (900px) translatey(-5%) rotateX(25deg) translatez(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper1::before,
  .wrapper1::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    border-radius: 50%;
    position: absolute;
    left: 0;
    box-shadow: rgb(255 0 0) 0px 1px 15px, rgb(63 0 255) 0px 1px 15px
  }
  
  .wrapper1::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%);
  }
  
  .wrapper1::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient (to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%);
    height: 295px;
  }
  
  .Aboutcard1:hover .wrapper1::before,
  .wrapper1::after {
    opacity: 1;
  }
  
  .Aboutcard1:hover .wrapper1::after {
    height: 295px;
  }
  
  .logo1 {
    height: 60px;
    width: 225px;
    transition: transform 0.5s;
    position: absolute;
    bottom: -50px;
  }
  
  .Aboutcard1:hover .logo1 {
    transform: translate3d(0%, -75px, 280px);
  }
  
  .Aboutcard1:hover .cover-image1 {
    opacity: 0.3;
  }
  
  .character1 {
    width: 280px;
    height: 260px;
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow (2px 2px 2px #000);
    position: absolute;
    z-index: -1;
  }
  
  .Aboutcard1:hover .character1 {
    opacity: 1;
    transform: translate3d(5px, -30%, 350px);
  }
  
  #contributor2 {
    display: flex;
    position: absolute;
    top: 710px;
  }
  
  .box2 {
    position: absolute;
    height: 360px;
    width: 1000px;
    top: 32px;
    left: 130px;
    border: 5px solid red;
    border-radius: 200px;
    background: url(../StyleFile/IMG/Icon\ Grid.svg);
  }
  
  @media (max-width:400px) {
    #contributor2 {
      display: flex;
      position: absolute;
      top: 2650px;
      left: 20px;
    }
    
    .box2 {
      position: absolute;
      height: 750px;
      width: 350px;
      top: -600px;
      left: 7px;
      border: none;
      background: none;
      background-color: #00000014;
      box-shadow: 2px 2px 10px, -2px -2px 10px;
    }
  }
  
  .contrimg3 {
    position: absolute;
    top: 50px;
    left: 300px;
  }
  
  .contrimg4 {
    position: absolute;
    top: 60px;
    left: 320px;
    height: 50px;
    width: 210px;
  }
  
  .contritext2 {
    position: absolute;
    top: 100px;
    width: 710px;
    left: 360px;
    font-size: 30px;
    font-weight: 900;
    color: var(--Light-Text-or-Content-Color);
  }

  .dark-mode .contritext2{
   color: var(--Dark-Text-or-Content-Color);
  }
  
  @media (max-width:400px) {
    .contritext2 {
      position: absolute;
      top: -230px;
      width: 320px;
      left: 20px;
      padding: 15px;
      font-size: 20px;
      font-weight: 900;
      -webkit-text-stroke: 1px rgb(33 7 69);
      filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    }

    .Aboutcard2 {
      top: -520px !important;
      left: 40px !important;
    }

  }
  
  .Aboutcard2 {
    height: 220px;
    width: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    cursor: pointer;
    border-radius: 30px;
    top: 100px;
    left: 30px;
  }
  
  .cover-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper2 {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: #000;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .wrapper2 img {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .Aboutcard2:hover .wrapper2 {
    transform: perspective (900px) translatey(-5%) rotateX(25deg) translatez(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper2::before,
  .wrapper2::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    border-radius: 50%;
    position: absolute;
    left: 0;
    box-shadow: rgb(255 0 0) 0px 1px 15px, rgb(63 0 255) 0px 1px 15px
  }
  
  .wrapper2::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%);
  }
  
  .wrapper2::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient (to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%);
    height: 295px;
  }
  
  .Aboutcard2:hover .wrapper2::before,
  .wrapper2::after {
    opacity: 1;
  }
  
  .Avoutcard2:hover .wrapper2::after {
    height: 295px;
  }
  
  .logo2 {
    height: 60px;
    width: 225px;
    transition: transform 0.5s;
    position: absolute;
    bottom: -50px;
  }
  
  .Aboutcard2:hover .logo2 {
    transform: translate3d(0%, -75px, 280px);
  }
  
  .Aboutcard2:hover .cover-image2 {
    opacity: 0.3;
  }
  
  .character2 {
    width: 210px;
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow (2px 2px 2px #000);
    position: absolute;
    z-index: -1;
  }
  
  .Aboutcard2:hover .character2 {
    opacity: 1;
    transform: translate3d(5px, -30%, 350px);
  }
  
  #contributor3 {
    display: flex;
    position: absolute;
    top: 1160px;
    left: 505px;
  }
  
  .box3 {
    position: absolute;
    height: 360px;
    width: 1000px;
    top: 32px;
    left: 380px;
    border: 5px solid red;
    border-radius: 200px;
    background: url(../StyleFile/IMG/Contour\ Line.svg);
  }
  
  @media (max-width:400px) {
    #contributor3 {
      display: flex;
      position: relative;
      top: 3710px;
      left: -150px;
      height: 0px !important;
    }
    
    .box3 {
      position: absolute;
      height: 800px;
      width: 350px;
      top: -800px;
      left: -220px;
      background: none;
      border: none;
      background-color: #00000014;
      box-shadow: 2px 2px 10px, -2px -2px 10px;
    }
  }
  
  .contrimg5 {
    position: absolute;
    top: 50px;
    left: 300px;
  }
  
  .contrimg6 {
    position: absolute;
    top: 65px;
    left: 310px;
  }
  
  .contritext3 {
    position: absolute;
    top: 100px;
    width: 740px;
    left: 585px;
    font-size: 34px;
    font-weight: 900;
    color: var(--Light-Text-or-Content-Color);
  }

  .dark-mode .contritext3{
   color: var(--Dark-Text-or-Content-Color);
  }
  
  @media (max-width:400px) {
    .contritext3 {
      position: absolute;
      top: -445px;
      width: 300px;
      left: -200px;
      padding: 20px;
      font-size: 25px;
      font-weight: 900;
      -webkit-text-stroke: 1px rgb(33 7 69);
      filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    }

    .Aboutcard3 {
      top: -730px !important;
      left: -190px !important;
    }

  }
  
  .Aboutcard3 {
    height: 220px;
    width: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    cursor: pointer;
    border-radius: 30px;
    top: 100px;
    left: 255px;
  }
  
  .cover-image3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper3 {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: #000;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .wrapper3 img {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .Aboutcard3:hover .wrapper3 {
    transform: perspective (900px) translatey(-5%) rotateX(25deg) translatez(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper3::before,
  .wrapper3::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    border-radius: 50%;
    position: absolute;
    left: 0;
    box-shadow: rgb(255 0 0) 0px 1px 15px, rgb(63 0 255) 0px 1px 15px
  }
  
  .wrapper3::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%);
  }
  
  .wrapper3::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient (to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%);
    height: 295px;
  }
  
  .Aboutcard3:hover .wrapper3::before,
  .wrapper2::after {
    opacity: 1;
  }
  
  .Aboutcard3:hover .wrapper3::after {
    height: 295px;
  }
  
  .logo3 {
    height: 60px;
    width: 225px;
    transition: transform 0.5s;
    position: absolute;
    bottom: -50px;
  }
  
  .Aboutcard3:hover .logo3 {
    transform: translate3d(0%, -75px, 280px);
  }
  
  .Aboutcard3:hover .cover-image3 {
    opacity: 0.3;
  }
  
  .character3 {
    width: 200px;
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow (2px 2px 2px #000);
    position: absolute;
    z-index: -1;
  }
  
  .Aboutcard3:hover .character3 {
    opacity: 1;
    transform: translate3d(5px, -30%, 350px);
  }
  

/* ABOUT PAGE END HERE 👆 */


/* CLUB PAGE START HERE 👇 */

#googleSignInButton {
  position: relative;
  float: right;
  top: 65px;
  right: 5px;
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  font-family: 'lemon';
  border: 1px solid rgba(255, 255, 255, 0.25);
  gap: 0.75rem;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}

#googleSignInButton img {
  height: 24px;
  width: auto;
}

#messageInput {
  display: flex;
  position: fixed;
  top: 94%;
  height: 30px;
  left: 2px;
  width: 94%;
  font-size: 1rem;
  color: #5E96FF;
  background-color: #000000;
  border-color: blue;
  text-transform: capitalize;
  font-family: 'lemon';
}

#messageInput::placeholder {
  font-family: 'lemon';
  text-transform: capitalize;
  color: #5E96FF;
}

#sendButton {
  position: absolute;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  left: 97.2%;
}

#sendButton img{
  position: absolute;
  height: 35px;
  top: 3px;
}

#chat {
  display: flex;
  position: absolute;
  top: 0px;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 95vh;
  overflow-y: scroll;
}

#chat::-webkit-scrollbar {
  width: 0px;
}

#chat {
  display: flex;
  flex-direction: column;
  top: 105px;
  height: 80vh;
  width: 98.7vw;
  overflow-y: scroll;
  padding: 10px;
}

#messageForm{
  display: block;
  position: absolute;
  top: 93%;
  height: 40px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 20px;
  background-color: black;
}

.dark-mode #messageForm{
 background-color: white;
}

#messageForm #messageInput{
  position: absolute;
  top: 4px;
  height: 30px;
  left: 0px;
  width: 90.5%;
  font-family: 'lemon';
  font-size: 1rem;
  color: #5E96FF;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: transparent;
}

#chat a {
  display: flex;
  color: #ff0059;
  max-width: 500px;
  font-family: 'lemon';
  font-weight: 100;
  background-color: transparent;
}

.message-container {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  font-family: 'lemon';
  text-transform: capitalize;
  font-weight: 600;
  font-style: italic;
  padding: 10px;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-right: 5px;
  color: blue;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-container p {
  margin: 0;
}

.right-message {
  background-color: #99edff !important;
  margin-left: auto;
}

.left-message {
  background-color: #d6abff !important;
  overflow-x: clip;
}

#emoji {
  position: absolute;
  appearance: none;
  text-rendering: unset;
  border: none;
  background-color: transparent;
  top: -2px;
  left: 95%;
  font-size: 30px;
  filter: grayscale(100%);
  cursor: pointer;
}

#emoji:hover {
  filter: grayscale(0%);
}

#logoutButton{
  position: absolute;
  top: 65px;
  left: 94%;
  height: 40px;
  width: 100px;
  background-color: red;
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
  font-family: 'lemon';
  border: none;
}

/* CLUB PAGE END HERE 👆 */

/* Error PAGE START HERE 👇 */

.message-timestamp{
  position: relative;
  top: 5px;
  color: red;
  opacity: 0.5;
  user-select: none;
}

/* CLUB PAGE END HERE 👆 */

/* Error PAGE START HERE 👇 */

#errorgif{
 display: block;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

#E404{
  display: block;
  position: absolute;
  margin: 0px;
  z-index: 1;
  font-size: 10rem;
  left: 30%;
  color: var(--Dark-Button-or-Highlight-Color);
}

#Error-Button{
  display: block;
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
}

#Error-Button a{
  position: absolute;
  border: 4px solid #419dff;
  width: 260px;
  border-radius: 50px;
  left: 43%;
  background-color: black;
  color: #419dff;
}



/* Error PAGE END HERE 👆 */

/* STYLE FOR FOOTER */
footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    user-select: none;
}

.footer-bottom {
    font-size: 0.5rem;
    font-style: italic;
    width: 100%;
    text-align: center;
}
